In [1]:
import urllib.parse
import pandas as pd
import requests
import numpy as np
import requests
from bs4 import BeautifulSoup
from datetime import datetime
import os
from github import Github
from github import Auth
import os
import pushToGithub
from extractMongoDB import *
import re
headers = {
  "Accept": "*/*",
  "Accept-Encoding": "gzip, deflate, br",
  "Accept-Language": "vi,en;q=0.9,en-GB;q=0.8,en-US;q=0.7",
  "Referer": "https://shopee.vn/",
  "Sec-Ch-Ua": "\"Microsoft Edge\";v=\"119\", \"Chromium\";v=\"119\", \"Not?A_Brand\";v=\"24\"",
  "Sec-Ch-Ua-Mobile": "?0",
  "Sec-Ch-Ua-Platform": "\"Windows\"",
  "Sec-Fetch-Dest": "empty",
  "Sec-Fetch-Mode": "cors",
  "Sec-Fetch-Site": "same-origin",
  "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/119.0.0.0 Safari/537.36 Edg/119.0.0.0"
}
today = datetime.now().date()

In [2]:
from Save_to_MongoDB import *

In [16]:
start_date = datetime.strptime("2024-05-03","%Y-%m-%d").date()

end_date = datetime.strptime("2024-05-27","%Y-%m-%d").date()

In [17]:
# link = "https://raw.githubusercontent.com/TTAT91A/Mogi_HousePrices_Pipeline/main/dags/data1/"
link = "../data1/"

In [14]:
df_price = pd.read_csv('prices.csv')
df_price

       price(billionVND)        id
0                   7.20  22448804
1                   4.78  22538386
2                   6.95  22521691
3                   5.10  22524911
4                   9.00  22525147
...                  ...       ...
18234              68.00  22537165
18235              25.00  21936541
18236            5000.00  22548566
18237               3.58  22548556
18238               5.60  22548560

[18239 rows x 2 columns]

In [18]:
date = start_date
while date < end_date:
    overpass_name = f'overpass({date}).csv'
    overpass_link = link + overpass_name
    try:
        df = pd.read_csv(overpass_link)
        "   preprocessing   "
        # try:
        #     df.drop_duplicates(subset=['link'],inplace=True)
        # except:
        #     pass
        # df['id'] = pd.to_numeric(df['id'], errors='coerce')
        # # Drop rows with NaN values in the 'id' column
        # df.dropna(subset=['id'], inplace=True)
        # df['id'] = df['id'].astype('int64')

        # df = df.merge(df_price, on='id', how='left')

        df['phone'] = pd.to_numeric(df['phone'], errors='coerce')
        df['phone'].fillna(0, inplace=True)
        df['phone'] = df['phone'].astype('int64')
        df['phone'] = "0" + df['phone'].astype(str)
        try:
            df.drop(columns=['link','link_seller'], inplace=True)
        except:
            pass
        
        df.to_csv(overpass_link, index=False)
        print(f'{date}\t', df.shape[1])
    except:
        pass
    
    date += timedelta(days=1)

2024-05-03	 27
2024-05-04	 27
2024-05-05	 27
2024-05-07	 27
2024-05-08	 27
2024-05-09	 27
2024-05-10	 27
2024-05-12	 27
2024-05-14	 27
2024-05-15	 27
2024-05-16	 27
2024-05-17	 27
2024-05-20	 26
2024-05-21	 27
2024-05-22	 27
2024-05-23	 27
2024-05-25	 27
2024-05-26	 27